.wrapper {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    padding: 10px 8px;
    color: #555565;
    font-weight: 700;
    line-height: 16px;
    cursor: pointer;
}

.primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    margin-bottom: 8px;
    &:hover {
        transition: color 0.2s;
        filter: brightness(1.05);
    }
}

.active {
    &:hover {
        transition: color 0.1s;
        color: var(--primary-color);
    }
}

.black {
    background-color: var(--black-color);
    color: var(--white-color);
}
// btn size

.outline {
    border: 1px solid var(--boder-color);
    border-radius: 5px;
}

.small {
    width: 132px;
    height: 52px;
}

.medium {
    width: 152px;
    height: 40px;
}

.large {
    font-size: 1.6rem;
    width: 198px;
    height: 40px;
}

.xlarge {
    width: 320px;
    height: 64px;
}

.icon {
    margin-left: 0;
}

.inList {
    display: block;
    text-align: start;
    color: var(--low-text-color);
    padding-left: 16px;
    opacity: 0.7;
    &:hover {
        opacity: 1;
        color: var(--heigh-text-color);
        background-color: var(--boder-color);
    }
}

.searchResult {
    opacity: 1;
    padding: 0 16px;
}

.product {
    padding: 0;
}

.footer {
    font-weight: 400;
    padding: 0;
    font-size: 1.4rem;
}

.sidebar {
    width: 100%;
    display: block;
    padding: 16px;
}
