.wrapper {
    width: 240px;
    margin: auto;
    min-height: 80px;
    max-height: min((100vh - 96px) - 60px, 734px);
}

.content {
    width: 100%;
    padding: 16px 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--boder-color);
}

.closer {
    padding: 0 4px;
    height: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    &:hover {
        cursor: pointer;
        opacity: 1;
    }
}
