.wrapper {
    width: 31.333336%;
    max-width: 33.333336%;
    height: 286px;
    max-height: 286px;
    position: relative;
    overflow: hidden;
    margin: 0 8px 16px;
    box-shadow: 0 1px 3px -2px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
        box-shadow: 0 3px 6px -4px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
        & > .info > .desc {
            color: var(--primary-color);
            transition: color 0.2s;
        }
    }
}

.img {
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.info {
    padding: 10px 16px 20px;
}

.title {
    color: #1c1c13b8;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 600;
    margin-bottom: 8px;
    padding-bottom: 4px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    height: 48px;
    &::after {
        bottom: 0%;
        display: block;
        position: absolute;
        content: '';
        background-color: var(--boder-color);
        width: 20%;
        height: 2px;
    }
}

.desc {
    // tạo dấu ... nếu text quá dài
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 1.8rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    height: 36px;
    transition: color 0.2s;
}

.tag-date {
    position: absolute;
    display: block;
    top: 2%;
    left: 2%;
}
