.wrapper {
    width: 100%;
}

.header-top {
    width: 100%;
    padding: 5px 0;
    min-height: 40px;
    border-bottom: 1px solid var(--boder-color);
    display: block;
}

.header-top__content {
    display: flex;
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
    justify-content: space-between;
}

.header-top__content-left {
    color: var(--low-text-color);
    font-size: 1.3rem;
    line-height: 2.8rem;
}

.header-top__content-right {
    display: flex;
}

.header-language {
    color: var(--low-text-color);
    font-size: 1.3rem;
    line-height: 2.8rem;
    font-weight: 400;
    opacity: 0.7;
    cursor: pointer;
    position: relative;
    &:hover {
        opacity: 1;
    }
    padding-right: 12px;
    &::after {
        content: '';
        display: block;
        height: 100%;
        width: 1px;
        background-color: var(--boder-color);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

.header-language-icon {
    color: var(--low-text-color);
    opacity: 0.7;
    font-size: 1.3rem;
    line-height: 2.8rem;
    margin-left: 4px;
}

.header-social-list {
    padding-left: 12px;
    margin-right: 4px;
}

.header-social-item {
    color: #999999;
    font-size: 1.3rem;
    line-height: 2.8rem;
    margin: 0 4px;
    cursor: pointer;
    &:hover {
        color: var(--primary-color);
    }
}

// main header

.header-main {
    max-width: 1200px;
    height: 100px;
    margin: auto;
    border-bottom: 1px solid var(--boder-color);
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header-main__logo {
    flex: 1;
    & > button > img {
        cursor: pointer;
    }
}

.list-btn {
    display: flex;
    flex: 9;
    list-style: none;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.list-btn__item {
    margin: 16px;
}

.list-btn__item-icon {
    margin-left: 4px;
}

.sidebar {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.sidebar-btn {
    padding: 10px 0;
    font-size: 1.6rem;
    cursor: pointer;
    margin-left: 4px;
    &:hover {
        transition: all 0.2s;
        color: var(--primary-color);
    }
}
