.wrapper {
    max-width: 1200px;
    margin: 12px auto;
    display: flex;
    padding: 16px 8px;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.map {
    width: 50%;
}

.info {
    width: 50%;
}

.logo,
.contact {
    padding: 0 16px 16px;
}

.slogan {
    text-align: center;
    align-items: center;
    font-size: 2.9rem;
    font-weight: 500;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 16px;
    margin-bottom: 32px;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: 50%;
        width: 120px;
        height: 2px;
        transform: translateX(-50%);
        background-color: black;
        background: linear-gradient(
            to right,
            #111 0%,
            #111 25%,
            rgba(255, 255, 255, 0) 25%,
            rgba(255, 255, 255, 0) 75%,
            #111 75%
        );
    }
    &::after {
        content: '***';
        display: block;
        position: absolute;
        font-family: FontAwesome;
        font-size: 2.3rem;
        color: #111;
        align-items: center;
        line-height: 1rem;
        top: 100%;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
    }
}
